* {
	font-family: 'Roboto Mono', monospace;
	color: #bf0000;
	outline: none;
}
body {
	background-color: black;
	margin: 0;
}

header {
	width: 97%;
	display: flex;
	justify-content: space-between;
}

#choices {
	display: flex;
	flex-direction: column;
	width: 180px;
}

header p {
	font-size: 20px;
}

header>div button {
	font-weight: 400;
	font-size: 40px;
	height: 50px;
	margin-top: 20px;
	border: none;
	border-bottom-style: solid;
	border-right-style: solid;
	background-color: transparent;
	cursor: pointer;
	color: #bc0000;
	width: 100%;
	transition: width .1s;
}

header>div button:hover {
	text-align: left;
}

header>div button:active, .button__on, .button__on:hover {
	width: 120%;
	text-align: right;
}


#contact {
	width: 400px;
	text-align: right;
	margin-top: 12px;
}

.button__arrow {
	position:absolute;
	width: 32px;
	height: 32px;
	cursor: pointer;
	transition: width .1s, height .1s;  
	z-index: 100;
}

.left, .right {
	bottom: 180px;
}


.button__arrow:hover {
	width: 44px;
	height: 44px;
	/* margin-left: 12px; */
	/* margin-right: 12px; */
	filter: brightness(1.3);
}


.button__arrow:active {
	width: 32px;
	height: 32px;
}

#socialLinks {
	display: flex;
	justify-content: end;
	align-items: center;
	height: 80px;
}
#socialLinks img {
	margin-left: auto;
	margin-right: 10px;
	width: 60px;
	transition: width .1s, margin .1s;
}

#socialLinks img:hover {
	width: 70px;
	margin-right: 0;
	margin-left: 0;
}


#socialLinks img:active {
	width: 60px;

}
main {
	display: flex;
	flex-direction: column;
	margin-top: -350px;
	align-items: center;
}
#placeholder {
	height: 80vh;
}

main h1{
	text-align: center;
	margin-bottom: 1%;
	font-weight: 300;
}

#title {
	animation-name: title__anim;
	animation-duration: 1s;
	animation-iteration-count: 1;
}

@keyframes title__anim {
	from {font-size: 0};
	to {font-size: 32px}
}

#cover__img {
	height: 600px;
	width: 600px;
	margin-left: 16px;
	margin-right: 16px;
	object-fit: contain;
	margin-bottom: 0;
	transition: height .1s, margin .1s;
}

.cover__img {
	animation-name: cover__img__anim;
	animation-duration: 1s;
	animation-iteration-count: 1;
}

#cover__img:hover {
	height: 580px;
	margin-bottom: 20px;
}

#cover__img:active {
	height: 610px;
	margin-bottom: -10px;
}

@keyframes cover__img__anim {
	from {opacity: 0.5;}
	to  {opacity: 1;}
	/* from {height: 580px;} */
	/* to {height: 600px;} */
}
main>p {
	width: 50%;
	text-align: center;
	font-size: 22px;
	margin-left: auto;
	margin-right: auto;
	font-weight: 300;
}

#description {
	animation-name: description__anim;
	animation-duration: 1s;
	animation-iteration-count: 1;
	width: 95%;
	margin-top: 0;
}

@keyframes description__anim {
	from {font-size: 0;}
	to {font-size: 22px;}

}

footer p {
	width: 100%;
	text-align: center;
	margin: 0;
	font-weight: 600;
	color: #790000;
}

#header__mobile {
	display: flex;
	flex-direction: column;
}
.choices__mobile {
	position: absolute;
	top: 265px;
	right: 44px;
}

#bio__mobile {
	display: flex;
	margin-left: 8px;
	width: 100%;
	justify-content: space-evenly;
}

#bio__mobile p {
	font-size: 103%; 
	text-align: center;
	font-weight: 500;
}

#contact__mobile {
	width: 100vw;
	display: flex;
}

#contact__mobile div {
	margin: auto;
}

#main__mobile {
	margin-top: 0;
}

@media only screen and (max-width: 600px){
	#header__mobile p {
		font-size: 16px;
	}
	#cover__img {
		width: 400px;
		/* margin-left: 8px; */
	}
	.button__arrow{
		bottom: -240px;
	}
	.left {
		left: 8px;
	}
	.right {
		right: 8px;
	}
	#description{
		margin-top: -16px;
		font-size: 18px;
		font-weight: 400;
		color:#790000 ;
	}
	footer p {
		margin-bottom: 18px;
	}
	@keyframes description__anim {
	from {font-size: 0;}
	to {font-size: 18px;}
	}
	header>div button, main h1 {
		color:#790000;
	}
	main h1{
		font-weight: 400;
}
