* {
	font-family: 'Roboto Mono', monospace;
	color: #bf0000;
}
body {
	background-color: black;
	margin: 0;
}

header {
	width: 97%;
	display: flex;
	justify-content: space-between;
}

#choices {
	display: flex;
	flex-direction: column;
	width: 180px;
}

header p {
	font-size: 20px;
}

header>div button {
	font-weight: 400;
	font-size: 40px;
	height: 50px;
	margin-top: 20px;
	border: none;
	border-bottom-style: solid;
	border-right-style: solid;
	background-color: transparent;
	cursor: pointer;
	color: #bc0000;
	width: 100%;
	transition: width .1s;
}

header>div button:hover {
	text-align: left;
}

header>div button:active, .button__on, .button__on:hover {
	width: 120%;
	text-align: right;
}


#contact {
	width: 400px;
	text-align: right;
	margin-top: 12px;
}

.button__arrow {
	width: 32px;
	height: 32px;
	cursor: pointer;
	transition: width .1s, height .1s;  
}
.button__arrow:hover {
	width: 44px;
	height: 44px;
	margin-left: 12px;
	margin-right: 12px;
	filter: brightness(1.3);
}

.button__arrow:active {
	width: 32px;
	height: 32px;
}

#socialLinks {
	display: flex;
	justify-content: end;
	align-items: center;
	height: 80px;
}
#socialLinks img {
	margin-left: auto;
	margin-right: 10px;
	width: 60px;
	transition: width .1s, margin .1s;
}

#socialLinks img:hover {
	width: 70px;
	margin-right: 0;
	margin-left: 0;
}


#socialLinks img:active {
	width: 60px;

}
main {
	display: flex;
	flex-direction: column;
	margin-top: -350px;
	align-items: center;
}
#placeholder {
	height: 80vh;
}

main h1{
	text-align: center;
	margin-bottom: 1%;
	font-weight: 300;
}

#temp__title {
	animation-name: title__anim;
	animation-duration: 1s;
	animation-iteration-count: 1;
}

@keyframes title__anim {
	from {font-size: 0};
	to {font-size: 32px}
}

#cover__img {
	height: 600px;
	margin-left: 16px;
	margin-right: 16px;
	object-fit: contain;
	margin-bottom: 0;
	transition: height .1s, margin .1s;
}

.temp__cover__img {
	animation-name: cover__img__anim;
	animation-duration: 1s;
	animation-iteration-count: 1;
}

#cover__img:hover {
	height: 580px;
	margin-bottom: 20px;
}

#cover__img:active {
	height: 610px;
	margin-bottom: -10px;
}

@keyframes cover__img__anim {
	from {opacity: 0.5;}
	to  {opacity: 1;}
	/* from {height: 580px;} */
	/* to {height: 600px;} */
}
main>p {
	width: 50%;
	text-align: center;
	font-size: 22px;
	margin-left: auto;
	margin-right: auto;
	font-weight: 300;
}

#temp__description {
	animation-name: description__anim;
	animation-duration: 1s;
	animation-iteration-count: 1;
}

@keyframes description__anim {
	from {font-size: 0;}
	to {font-size: 22px;}

}

footer p {
	width: 100%;
	text-align: center;
	margin: 0;
	font-weight: 600;
	color: #790000;
}

#header__mobile {
	display: flex;
	flex-direction: column;
}
.choices__mobile {
	/* margin-left: 75%; */
	position: fixed;
	top: 80px;
	right: 45px;
}

#bio__mobile {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
}

#contact__mobile {
	width: 100vw;
	display: flex;
}

#contact__mobile div {
	margin: auto;
}

#main__mobile {
	margin-top: 0;
}
